<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="addUserModal">Rename</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- <input type="email" class="form-control m-0 rename-tag" name="renameAssets" [(ngModel)]="newName"
                  placeholder="Rename Asset(s)" id="assetsRename" aria-describedby="assetsRename"
                  (keyup.enter)="renameCandidate()"> -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary" (click)="renameCandidate()" data-bs-dismiss="modal">Save
                  changes</button> -->
          </div>
      </div>
  </div>
</div>
