<main class="welcome-main">
    <app-header></app-header>
    <div class="main-page border-2">
        <div class="row h-100">
            <div class="col-md-5">
                <app-user-form (emitUserForm)="getUserDetail($event)"></app-user-form>
            </div>
            <div class="col-md-7 p-0">

                <div class="user-detail-grid-header my-2">
                    <div class="d-flex flex-row align-items-center ms-2">Name</div>
                    <div class="d-flex flex-row align-items-center ms-2">Age</div>
                    <div class="d-flex flex-row align-items-center ms-2">Gender</div>
                    <div class="d-flex flex-row align-items-center ms-2">Hobbies</div>
                    <div class="d-flex flex-row align-items-center ms-2">Delete</div>
                </div>
                <div class="user-detail-grid-body" style="overflow-y: hidden;">
                    <div class="user-detail-grid-body-loop">
                        @for (item of userDetails; track item;let i=$index) {
                        <div>
                            {{item.name}}
                        </div>
                        <div>
                            {{item.age}}
                        </div>
                        <div>
                            {{item.gender}}
                        </div>
                        <div>
                            {{item.hobbies}}
                        </div>
                        <div>
                            <button class="btn btn-warning w-25" type="button"
                                (click)="removeUserDetails(i)">Delete</button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>