.main-page {
    height: calc(100vh - 174px)
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}


// .landing-img {
//     object-fit:fill;
//     aspect-ratio: 16 / 9;
// }