<div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/1087/1087815.png" alt="My Project" class="logo me-2">
            </div>
            <a class="navbar-brand" href="#">My Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://github.com/Webaadhi5E">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login/login']"
                            routerLinkActive="router-link-active">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>