.color-pallets {
    height: calc(100vh - 110px);
}

.side-icon {
    height: 200px;
    width: 100px;
    background-color: #d9d9d9;
}

.pallets {
    height: calc(100vh - 200px);
    width: 176px;

    &:hover {
        .table-icon {
            display: block;
            opacity: 0.9;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto !important;
            cursor: pointer;
        }
    }

    .table-icon {
        display: none;
    }
}