<div class="h-100">
    <app-header></app-header>
    <div class="color-pallets">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex align-items-center justify-content-center gap-2 h-100 w-100">
                @for (pallets of colorPallet; track $index) {
                <div class="pallets h-50 d-inline-block" style="width: 150px;" [style.backgroundColor]="pallets">
                    {{pallets}}
                </div>
                }
            </div>
        </div>
        <div>
            <button class="btn btn-primary" type="button" (click)="generateColor()">Generate Colors</button>
        </div>
    </div>
</div>