<app-header></app-header>
<div class="h-100 main-grid">
  <div class="mt-4 text-center">
    <div class="d-flex flex-row-reverse gap-2">
      <div class="mb-2">
        <button class="btn btn-warning" [disabled]="isTitleReady">Click me !</button>
        <button class="btn btn-primary rounded-pill" type="button" (click)="displayDynamicTitle()">
          {{!isTitleReady?'Show':'Hide'}}
        </button>
      </div>
    </div>
    @if (isTitleReady) {
    <div class="fs-2 fw-bold" [ngClass]="{'header-title': isTitleReady}">
      <h2 [appHoverHighlight]="'pink'" defaultColor="green">
        {{title()}}
      </h2>
    </div>
    }
  </div>
  <div class="my-4 product-list" style="overflow-y: scroll;">
    @for (item of displayProductsList; track $index) {
    <div>
      {{item.title}}
    </div>
    }
  </div>
</div>
