<div>
    <main>
        <header>
            <div class="landing-page-header border-bottom border-4 position-fixed w-100 z-1"
                style="overflow-y: hidden;">
                <div class="d-flex  justify-content-between px-4 py-2">
                    <div class="d-flex align-items-center justify-content-center gap-2 fw-bold fs-3">
                        <img src="https://cdn-icons-png.flaticon.com/512/1087/1087815.png" alt="My Project"
                            class="logo">
                        <a href="#">My Project</a>
                    </div>
                    <div class="fs-4 fw-bold">
                        <a>Git-hub</a>
                    </div>
                    <div class="d-flex align-items-center gap-3 fw-bold">
                        <div class="d-flex flex-wrap align-items-center">
                            <div>
                                <fa-icon [icon]="faUser" class="me-2"></fa-icon>
                            </div>
                            <button class="btn btn-outline-secondary btn-sm login-button" type="button"
                                [routerLink]="['/login/login']" routerLinkActive="router-link-active">
                                Login
                            </button>
                        </div>
                        <button class="btn btn-outline-secondary btn-sm login-button" [routerLink]="['/login/sign-up']"
                            routerLinkActive="router-link-active">
                            Sign-Up
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <router-outlet></router-outlet>
        </div>
    </main>
</div>