<app-header></app-header>
<div class="h-100">
  <div style="width: 15rem;" class="mx-4 my-4 rounded-2 border px-4 py-4">
    <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" [placeholder]="'Enter Email'" id="userEmail" name="userEmail" ngModel #userEmail="ngModel"
          aria-describedby="emailHelp" required>
        @if((userEmail.dirty && loginForm.valid || userEmail.touched) && userEmail.invalid){
        <div>
          Enter Valid Email Id
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="userPassword" class="form-label">Password</label>
        <input type="password" class="form-control" [placeholder]="'Enter Password'" name="userPassword" ngModel #userPassword="ngModel"
          id="userPassword" required>
        @if ((userPassword.dirty && loginForm.valid || userPassword.touched)&& userPassword.invalid) {
        <div>
          Enter Correct Password
        </div>
        }
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="acceptance" name="acceptance" ngModel #acceptance="ngModel">
        <label class="form-check-label" for="acceptance">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
