<div class="container mt-4 h-100">
    <div class="fs-3 fw-bold text-center">
        {{header()}}
    </div>
    <section class="students-forms-section">
        <div class="mt-3">
            <div class="mb-3">
                <label class="form-label" for="studentName">Student Name</label>
                <input type="text" class="form-control w-25" name="studentName" id="studentName" [(ngModel)]="studentName">
            </div>
            <div class="mb-3">
                <label class="form-label" for="studentName">Student Name</label>
                <input type="text" class="form-control w-25" name="studentName" id="studentName">
            </div>
            <div class="mb-3">
                <label class="form-label" for="studentName">Student Name</label>
                <input type="text" class="form-control w-25" name="studentName" id="studentName">
            </div>
            <div class="mb-3">
                <label class="form-label" for="studentName">Student Name</label>
                <input type="text" class="form-control w-25" name="studentName" id="studentName">
            </div>
        </div>
    </section>
</div>
