<div class="h-100">
  <app-header></app-header>
  <div class="container main-page">
    <div class="fs-3 fw-bold text-center mt-3">
      {{header()}}
    </div>
    <section class="students-forms-section">
      <div class="row h-25">
        <div class="col-md-6">
          <div>
            <div class="mb-3">
              <label class="form-label fs-6 fw-bold" for="studentName">Student Name</label>
              <input type="text" class="form-control " name="studentName" id="studentName"
                (keyup.enter)="searchName($event)" [(ngModel)]="studentName">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label fs-6 fw-bold" for="locationSelect">Location</label>
            <select class="form-select" [formControl]="locationSearch" id="locationSelect"
              aria-label="student-location">
              <option selected hidden>--Select Location--</option>
              @for (location of locationList; track $index) {
              <option [value]="location">{{location}}</option>
              }
            </select>
          </div>
        </div>
      </div>
      <div class="row h-25">
        <div class="col-md-6">
          <div class="fs-6 fw-bold">Student Registration</div>
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label fs-6 fw-bold" for="department">Department</label>
            <select class="form-select" [formControl]="departmentSearch" aria-label="student-department">
              <option selected hidden>--Select Department--</option>
              @for (depa of departmentList; track $index) {
              <option [value]="depa">{{depa}}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <section class="student-details-grid h-100" style="overflow-y: auto;">
      <div>
        @if (isSearchEnable) {
        <div class="fs-4 fw-bold">
          Search Result
        </div>
        }
        <div class="fs-4 fw-bold">
          Students Data
        </div>
        <div class="main-details-grid">
          <div class="student-header">
            <div class="student-header-grid">
              @for (item of displayedList; track $index) {
              <div>{{item.studentName}}</div>
              }
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
