<!-- <div class="login-page" [style]="'overflow-y:hidden'">
    <main>
        <div class="py-3 d-flex align-items-center justify-content-center">
            <div class="container login-form">
                <div class="login-header border-bottom d-flex align-items-center">
                    <div class="login-header ms-4 d-flex align-items-center">
                        <div class="fw-bold">
                            Creativity
                        </div>
                    </div>
                    <div class="login-header-content ms-auto">
                        New User -
                        <button class="btn btn-primary" type="button" [routerLink]="['/login/sign-up']"
                            routerLinkActive="router-link-active">Sign
                            up</button>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col-md-5">
                        1
                    </div>
                    <div class="col-md-7">
                        2
                    </div>
                </div>
            </div>
        </div>
    </main>
</div> -->

<div class=" d-flex justify-content-center h-100">
    <main>
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><span><i
                                class="fab fa-google-plus-square"></i></span></a>
                    <a href="https://dev.azure.com/CyranoSystems/Cyrano/_sprints/taskboard/WebUI%20Team/Cyrano/Active/4.3.0/S6"
                        target="_blank"><span><i class="fab fa-twitter-square"></i></span></a>
                </div>
            </div>
            <div class="card-body">
                <form role="form" id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" [attr.id]="loginPage"
                    novalidate>
                    <div class="inputlist">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><fa-icon [icon]="faUser" class="ms-1"></fa-icon></span>

                            </div>
                            <input type="text" id="email-id" class="form-control" placeholder="email-id" name="email-id"
                                formControlName="emailid" required
                                [ngClass]="{ 'is-invalid': submitted && form['emailid'].errors }" />
                            <div *ngIf="submitted && form['emailid'].errors" class="invalid-feedback">
                                <div *ngIf="form['emailid'].errors['required']">Email is required
                                </div>
                                <div *ngIf="form['emailid'].errors['emailid']">Email must be a valid
                                    email address</div>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><fa-icon [icon]="faKey" class="ms-1"></fa-icon></span>
                            </div>
                            <input type="password" id="password" class="form-control" placeholder="password"
                                name="password?" formControlName="password" required
                                [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />


                            <a class="type-toggle" (click)="toggleShow()">
                                <!-- <fa-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></fa-icon>
                                <fa-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></fa-icon> -->
                            </a>
                            <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                                <div *ngIf="form['password'].errors['required']">Password is
                                    required</div>
                                <div *ngIf="form['password'].errors['minlength']">Password must be
                                    at least 6
                                    characters</div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center remember">
                        <input type="checkbox" />Remember Me
                    </div>
                    <div class="form-group" id="login">
                        <button type="submit" value="Login" class="btn float-right login_btn" (click)="onSubmit()"
                            [disabled]="!loginForm.valid" routerLink="/welcome" routerLinkActive="active">Login</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#" routerLink="/login/sign-up" routerLinkActive="active">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a [routerLink]="['/forgetpassword']">Forgot your password?</a>
                </div>
            </div>
        </div>
    </main>
</div>